In [2]:
import pandas as pd
import numpy as np

In [22]:
data_file = "D:\\CODSOFT\\MACHINE-LEARNING\\MOVIE-GENRE-PREDICTION\\Data\\train_data.txt"

In [10]:
column_names = ['ID', 'Title', 'Genre', 'Summary']

In [23]:
with open(data_file, 'r', encoding='utf-8') as file:
    lines = file.readlines()

In [9]:
movies = [ line.strip().split(' ::: ')  for line in lines ]

In [29]:
df = pd.DataFrame(movies, columns=column_names)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54214 entries, 0 to 54213
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       54214 non-null  int32
 1   Title    54214 non-null  object
 2   Genre    54214 non-null  object
 3   Summary  54214 non-null  object
dtypes: int32(1), object(3)
memory usage: 1.4+ MB

In [26]:
df['ID'] = df['ID'].astype(int)

In [33]:
df['Title'] = df['Title'].str.replace('[^\w\s]', '').str.replace('"', '').str.lower()
df['Summary'] = df['Summary'].str.replace('[^\w\s]', '').str.replace('"', '').str.lower()

In [35]:
df.head(10)

,ID,Title,Genre,Summary
0,1,oscar et la dame rose (2009),drama,listening in to a conversation between his doc...
1,2,cupid (1997),thriller,a brother and sister with a past incestuous re...
2,3,"young, wild and wonderful (1980)",adult,as the bus empties the students for their fiel...
3,4,the secret sin (1915),drama,to help their unemployed father make ends meet...
4,5,the unrecovered (2007),drama,the film's title refers not only to the un-rec...
5,6,quality control (2011),documentary,quality control consists of a series of 16mm s...
6,7,pink slip (2009),comedy,in tough economic times max and joey have all ...
7,8,one step away (1985),crime,ron petrie (keanu reeves) is a troubled teen w...
8,9,desperate hours (2016),reality-tv,"a sudden calamitous event, causing great loss ..."
9,10,spirits (2014/i),horror,four high school students embark on a terrifyi...

In [36]:
df['Genre']

0              drama
1           thriller
2              adult
3              drama
4              drama
            ...
54209         comedy
54210         horror
54211    documentary
54212         comedy
54213        history
Name: Genre, Length: 54214, dtype: object